{% load static %}
<!-- Start About Area -->
    <section class="about-us section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                        <img src="{% static 'images/about/10-filmes-disponiveis-na-netflix-2333223.jpg' %}" alt="#">
                        <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                            class="glightbox video"><i class="lni lni-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <!-- content-1 start -->
                    <div class="content-right wow fadeInRight" data-wow-delay=".5s">
                        <!-- Heading -->
                        <span class="sub-heading">Sobre</span>
                        <h2>
                            Os melhores listados da internet</h2>
                        <p>É só você entrar na sua plataforma de streaming preferida para ver
                            um filminho, aconchegado no sofá de casa, que aquela eterna dúvida imediatamente paira na sua mente:
                            mas o que assistir? E dá-lhe abrir o celular para pesquisar “melhores filmes da Netflix”,
                            mas acabar passando horas sem conseguir escolher.</p>
                        <h3>Calma. É para isso que nós estamos aqui.</h3>
                        <p>Pra refrescar o seu momento de lazer, preparamos uma lista
                            com os melhores filmes para assistir na Netflix, que vai
                            te ajudar muito a resolver essa dúvida tão cruel.</p>
                        <!-- End Heading -->
                    </div>
                </div>
            </div>
        </div>
    </section>