{% load static %}
<!-- Start Why Choose Area -->
<section class="why-choose section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Destaques do Ano</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="choose-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single List -->
                            {% for filme in filmes %}

                                <div class="choose-image">
                                    <a href="{% url 'filme-detalhes' filme.id %}"><img
                                            src="{{ filme.imagem.thumb.url }}" alt="{{ filme.nome }}" alt="#"></a>
                                </div>
                                <div class="content">
                                    <h3><a href="{% url 'filme-detalhes' filme.id %}">{{ filme.nome }}</a></h3>
                                    <p>
                                        Gênero: {{ filme.genero }}
                                    </p>
                                    <p>
                                    <h5>Sinopse:</h5> {{ filme.sinopse }}
                                    </p>
                                    <p>
                                    <h5>Lançamento:</h5>{{ filme.data_lancamento }}
                                    </p>
                                </div>
                                <!-- Start Single List -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <!-- Start Single List -->
                                    <div class="choose-image">
                                        <a href="{% url 'filme-detalhes' filme.id %}"><img
                                                src="{{ filme.imagem.thumb.url }}" alt="{{ filme.nome }}" alt="#"></a>
                                    </div>
                                    <div class="content">
                                        <h3><a href="{% url 'filme-detalhes' filme.id %}">{{ filme.nome }}</a></h3>
                                        <p>
                                            Gênero: {{ filme.genero }}
                                        </p>
                                        <p>
                                        <h5>Sinopse:</h5> {{ filme.sinopse }}
                                        </p>
                                        <p>
                                        <h5>Lançamento:</h5>{{ filme.data_lancamento }}
                                        </p>
                                    </div>
                                    <!-- Start Single List -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <!-- Start Single List -->
                                    <div class="choose-image">
                                        <a href="{% url 'filme-detalhes' filme.id %}"><img
                                                src="{{ filme.imagem.thumb.url }}" alt="{{ filme.nome }}" alt="#"></a>
                                    </div>
                                    <div class="content">
                                        <h3><a href="{% url 'filme-detalhes' filme.id %}">{{ filme.nome }}</a></h3>
                                        <p>
                                            Gênero: {{ filme.genero }}
                                        </p>
                                        <p>
                                        <h5>Sinopse:</h5> {{ filme.sinopse }}
                                        </p>
                                        <p>
                                        <h5>Lançamento:</h5>{{ filme.data_lancamento }}
                                        </p>
                                    </div>
                                    <!-- Start Single List -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="choose-image">
                                        <a href="{% url 'filme-detalhes' filme.id %}"><img
                                                src="{{ filme.imagem.thumb.url }}" alt="{{ filme.nome }}" alt="#"></a>
                                    </div>
                                    <div class="content">
                                        <h3><a href="{% url 'filme-detalhes' filme.id %}">{{ filme.nome }}</a></h3>
                                        <p>
                                            Gênero: {{ filme.genero }}
                                        </p>
                                        <p>
                                        <h5>Sinopse:</h5> {{ filme.sinopse }}
                                        </p>
                                        <p>
                                        <h5>Lançamento:</h5>{{ filme.data_lancamento }}
                                        </p>
                                    </div>
                                    <!-- Start Single List -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="choose-image">
                                        <a href="{% url 'filme-detalhes' filme.id %}"><img
                                                src="{{ filme.imagem.thumb.url }}" alt="{{ filme.nome }}" alt="#"></a>
                                    </div>
                                    <div class="content">
                                        <h3><a href="{% url 'filme-detalhes' filme.id %}">{{ filme.nome }}</a></h3>
                                        <p>
                                            Gênero: {{ filme.genero }}
                                        </p>
                                        <p>
                                        <h5>Sinopse:</h5> {{ filme.sinopse }}
                                        </p>
                                        <p>
                                        <h5>Lançamento:</h5>{{ filme.data_lancamento }}
                                        </p>
                                    </div>
                                    <!-- Start Single List -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="choose-image">
                                        <a href="{% url 'filme-detalhes' filme.id %}"><img
                                                src="{{ filme.imagem.thumb.url }}" alt="{{ filme.nome }}" alt="#"></a>
                                    </div>
                                    <div class="content">
                                        <h3><a href="{% url 'filme-detalhes' filme.id %}">{{ filme.nome }}</a></h3>
                                        <p>
                                            Gênero: {{ filme.genero }}
                                        </p>
                                        <p>
                                        <h5>Sinopse:</h5> {{ filme.sinopse }}
                                        </p>
                                        <p>
                                        <h5>Lançamento:</h5>{{ filme.data_lancamento }}
                                        </p>
                                    </div>
                                    <!-- Start Single List -->
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                            {% endfor %}
</section>
<!-- /End Why Choose Area -->