{% load static %}

<!-- Start Clients Area -->
    <div class="client-logo-section">
        <div class="container">
            <div class="client-logo-wrapper">
                <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client1.svg' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client2.svg' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client3.svg' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client4.svg' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client5.svg' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client2.svg' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client3.svg' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client4.svg' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/clients/client5.svg' %}" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->