{% load static %}

<!-- Start Clients Area -->
    <div class="client-logo-section">
        <div class="container">
            <div class="client-logo-wrapper">
                <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="client-logo">
                        <img src="{% static 'images/hero/Disney_wordmark.svg.png' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/hero/Universal_Pictures_logo.svg.png' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/hero/Warner_Bros._(2019)_logo.svg.png' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/hero/HBO-logo-49E64C6314-seeklogo.com.png' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/hero/Netflix-Logo.wine.png' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/hero/Disney_wordmark.svg.png' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/hero/Universal_Pictures_logo.svg.png' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/hero/Warner_Bros._(2019)_logo.svg.png' %}" alt="#">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'images/hero/HBO-logo-49E64C6314-seeklogo.com.png' %}" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->