{% load static %}

<!-- Start filme Area -->
<section class="why-choose section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <div class="section-icon wow zoomIn" data-wow-delay=".4s">
                        <i class=""></i>
                    </div>
                    <h2 class="wow fadeInUp">TOP FILMES</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"> Continuamos agora com o ponto alto de 2022 com
                                                                  os filmes que você deve assistir a todo custo.</p>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                {% for filme in filmes %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single filme -->

                        <div class="choose-image">
                            <div class="choose-image">
                                <a href="{% url 'filme-detalhes' filme.id %}"><img src="{{ filme.imagem.thumb.url }}"
                                                                                   alt="{{ filme.nome }}" alt="#"></a>
                            </div>
                            <div class="content-title">
                                <p>
                                    <h3>{{ filme.nome }}</h3>

                                </p>
                            </div>
                            <div class="bottom-content">
                                    <span class="tag">
                                        <b>Diretor:</b> {{ filme.diretor }}
                                    </span>
                            </div>
                            <div class="bottom-content">
                                    <span class="tag">
                                        <b>Lançamento:</b> {{ filme.data_lancamento }}
                                    </span>
                            </div>
                            <br>
                        </div>

                        <!-- End Single filme -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Courses Area -->