{% load static %}
<!-- Start Items Grid Area -->
    <section class="items-grid section custom-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Lançamentos</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries.</p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <div class="row">
                    {% for f in filmes %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single Grid -->
                        <div class="image">
                             <a href="{% url '' id=filme.id %}"><img src="{{ filme.imagem.thumb.url }}" alt="{{ filme.nome }}"  alt="#"></a>
                                </div>
                                <div class="content">
                                    <h3><a href="{% url '' id=filme.id %}">{{ filme.nome }}</a></h3>
                                    <p>
                                        {{ filme.sinopse }}
                                    </p>
                                </div>
                                <div class="bottom-content">
                                    <span class="tag">
                                        Duração: {{ filme.duracao }} h
                                    </span>
                                </div>

                        <!-- End Single Grid -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- /End Items Grid Area -->