{% load static %}

    <!-- SECTION FILME  -->
    <section id="curso">
        <div class="container">
           <div class="row">
              <div class="col-12">
                 <div class="section-title align-center gray-bg">
                    <br/>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Filmes</h2>
                 </div>
              </div>
           </div>

            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Filme</th>
                        <th scope="col">Duração</th>
                        <th scope="col">Sinopse</th>
                        <th scope="col">Data de Lançamento</th>
                        <th scope="col">Ator</th>
                    </tr>
                </thead>

                <tbody>
                    {% for f in filme %}
                        <tr>
                            <th scope="row">{{ f.nome }}</th>
                            <th scope="row">{{ f.duracao }}</th>
                            <th scope="row">{{ f.sinopse }}</th>
                            <th scope="row">{{ f.data_lancamento }}</th>
                            <th scope="row">{{ f.ator }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
     </section>
    <!-- SECTION FILME  -->

