{% load static %}
<!-- Start Header Area -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logo/Netflix_2015_logo.svg' %}" alt="Logo">
    </a>
    <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
        <ul id="nav" class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class=" active dd-menu collapsed" href="javascript:void(0)"
                   data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                   aria-controls="navbarSupportedContent" aria-expanded="false"
                   aria-label="Toggle navigation">Home</a>
                <ul class="sub-menu collapse" id="submenu-1-1">
                    <li class="nav-item active"><a href="{% url 'index' %}">Home</a></li>
                </ul>
            </li>
            <li class="nav-item active"><a href="{% url 'filme' %}">Filmes</a></li>
            <li class="nav-item active"><a href="{% url 'serie' %}">Séries</a></li>
            <li class="nav-item active"><a href="{% url 'sobre' %}">Sobre</a></li>
        </ul>
    </div> <!-- navbar collapse -->
    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Relatórios
        </button>
        <div class="dropdown-menu">
            <a href="{% url 'relatorio-filmes' %}" class=btn>Filmes</a> <!-- Colocar o relatorio neste botão -->
            <div class="dropdown-divider"></div>
            <a href="{% url 'relatorio-series' %}" class=btn>Séries</a> <!-- Colocar o relatorio neste botão -->
            <div class="dropdown-divider"></div>
            <a href="{% url 'relatorio-documentarios' %}" class=btn>Documentários</a> <!-- Colocar o relatorio neste botão -->

        </div>
</nav> <!-- navbar -->