{% load static %}
<!-- Start Header Area -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logo/logo.svg' %}" alt="Logo">
    </a>
    <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
        <ul id="nav" class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class=" active dd-menu collapsed" href="javascript:void(0)"
                   data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                   aria-controls="navbarSupportedContent" aria-expanded="false"
                   aria-label="Toggle navigation">Home</a>
                <ul class="sub-menu collapse" id="submenu-1-1">
                    <li class="nav-item active"><a href="{% url 'index' %}">Home</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <li class="nav-item active"><a href="/filme">Filmes</a></li>
            </li>
            <li class="nav-item">
                <a class=" dd-menu collapsed" href="javascript:void(0)"
                   data-bs-toggle="collapse" data-bs-target="#submenu-1-3"
                   aria-controls="navbarSupportedContent" aria-expanded="false"
                   aria-label="Toggle navigation">About Us</a>
    </div> <!-- navbar collapse -->
    <div class="login-button">
        <ul>
            <li>
                <a href="/restrito"><i class="lni lni-enter"></i> Login</a>
            </li>
        </ul>
    </div>
    <div class="button header-button">
        <a href="{% url 'relatorio-filmes' %}" class=btn>Relatório</a> <!-- Colocar o relatorio neste botão -->


    </div>
</nav> <!-- navbar -->