{% extends 'base.html'  %}
{% load static %}
{% block content %}
 <!-- Start Categories Area -->
    {% include 'categories-area.html' %}
    <!-- /End Categories Area -->

    <!-- Start Items Grid Area -->
    {% include 'filme-area.html' %}
    <!-- /End Items Grid Area -->

    <!-- Start Items Grid details -->
    {% include 'filme-details.html' %}
    <!-- /End Items Grid details -->

    <!-- Start Why Choose Area -->
    {% include 'choose-area.html' %}
    <!-- /End Why Choose Area -->

    <!-- Start How Works Area -->
    {% include 'works-area.html' %}
    <!-- End How Works Area -->

{% endblock %}

