{% load static %}
<html>
<head>
    <title>Relatório de Alunos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
    <center>
        <img src="{% static 'images/logo/logo.svg' %}">
        <br/>
        <h1>Relatório de Alunos</h1>
    </center>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome do Aluno</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Curso</th>
                </tr>
            </thead>

            <tbody>
                {% for a in alunos %}
                    <tr>
                        <th scope="row">{{ a.nome }}</th>
                        <th scope="row">{{ a.email }}</th>
                        <th scope="row">{{ a.curso }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>
