{% load static %}
<html>
<head>
    <title>Relatório de Documentários</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
    <center>
        <img src="{% static 'images/Netflix-Logo.wine.svg' %}">
        <br/>
        <h1>Relatório de Documentários</h1>
    </center>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                        <th scope="col">Duração</th>
                        <th scope="col">Sinopse</th>
                        <th scope="col">Data de Lançamento</th>
                        <th scope="col">Diretor</th>
                </tr>
            </thead>

            <tbody>
                {% for d in documentarios %}
                    <tr>
                            <th scope="row">{{ d.nome_documentario }}</th>
                            <th scope="row">{{ d.duracao }}</th>
                            <th scope="row">{{ d.sinopse }}</th>
                            <th scope="row">{{ d.data_lancamento }}</th>
                            <th scope="row">{{ d.diretor }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>
