{% load static %}
<html>
<head>
    <title>Relatório de Filmes</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
    <center>
        <img src="{% static 'images/logo/logo.svg' %}">
        <br/>
        <h1>Relatório de Filmes</h1>
    </center>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Filme</th>
                        <th scope="col">Duração</th>
                        <th scope="col">Sinopse</th>
                        <th scope="col">Data de Lançamento</th>
                        <th scope="col">Ator</th>
                </tr>
            </thead>

            <tbody>
                {% for f in filme %}
                    <tr>
                            <th scope="row">{{ f.nome }}</th>
                            <th scope="row">{{ f.duracao }}</th>
                            <th scope="row">{{ f.sinopse }}</th>
                            <th scope="row">{{ f.data_lancamento }}</th>
                            <th scope="row">{{ f.ator }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>
