{% load static %}

<!-- Start Serie Area -->
<section class="why-choose section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <div class="section-icon wow zoomIn" data-wow-delay=".4s">
                        <i class=""></i>
                    </div>
                    <h2 class="wow fadeInUp">TOP SÉRIES</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"> Continuamos agora com o ponto alto de 2022
                        com as séries que você deve assistir a todo custo.</p>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                {% for serie in series %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single film -->

                        <div class="choose-image">
                            <div class="card">
                                <a href="{% url 'serie-detalhes' serie.id %}"><img src="{{ serie.imagem.thumb.url }}"
                                                                                   alt="{{ serie.nome_serie }}" alt="#"></a>
                            </div>
                            <div class="content">
                                <p>
                                <h3>{{ serie.nome_serie }}</h3>
                                </p>
                            </div>
                            <div class="bottom-content">
                                    <span class="tag">
                                        <b>Diretor:</b> {{ serie.diretor }}
                                    </span>
                            </div>
                            <div class="bottom-content">
                                    <span class="tag">
                                        <b>Temporadas:</b> {{ serie.temporada }}
                                    </span>
                            </div><div class="bottom-content">
                                    <span class="tag">
                                        <b>Episódios:</b> {{ serie.episodios }}
                                    </span>
                            </div>
                            <br>
                        </div>
                        <!-- End Single Course -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Courses Area -->